<!DOCTYPE html>
<html>

<head>
    <title>訂單</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h4><a class="border-none" href="/list">回商品列表頁</a></h4>
    <h2>已成完成結帳謝謝您的購買!</h2>
    <h3>訂單編號為 <%=order.orderId%></h3>
</body>

</html>

